[Desktop Entry]
Type=Application
Name=Linux Game Tweaks
Comment=Ferramenta para ajustes de jogos no Linux.
Keywords=game; tweaks; linux;
Exec=linux_game_tweaks %U
Terminal=false
Categories=Game;
mimetype="application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut"
Icon=io.github.pedroermarinho.linux_game_tweaks